@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.blockgrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.div1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.div2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.div3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.div4 {
  grid-column: 4 / 4;
  grid-row: 1 / 2;
}

.div5 {
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

.grid-item {
  text-align: center;
}

img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.underline {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0px;
  padding: 0px;
}
.main {
  padding: 16px;
}
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 24px 0px 30px 0px;
  background-color: burlywood;
}
.navborder {
  text-align: center;
  background-color: burlywood;
  border-bottom: solid 1px;
  color: black;
  padding: 16px;
}

.navpadding {
  margin-top: 16px;
}

a:hover {
  color: green;
}

img {
  height: 200px;
}

.center {
  text-align: center;
}

.fontcolor {
  color: lightcoral;
}
